<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
</head>
<body>
    <header id="header">
    </header>
    <main>
        <div id="app">
            <h3 class="titulo">Lista de Productos</h3>
            <form action="" id="formCrear" @submit.prevent>
                <h4>Agregar producto</h4>
                <div class="mb-3">
                    <label for="idproductos">ID</label>
                    <input type="number" class="form-control" v-model="idproductos">
                </div>
                <div class="mb-3">
                    <label for="productos_name">Nombre</label>
                    <input type="text" class="form-control" v-model="productos_name">
                </div>
                <div class="mb-3">
                    <label for="productos_descripcion">Descripcion</label>
                    <input type="text" class="form-control" v-model="productos_descripcion">
                </div>
                <div class="mb-3">
                    <label for="productos_precio">Precio</label>
                    <input type="number" class="form-control" v-model="productos_precio">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="registrarProducto()">Guardar</button>
                </div>
            </form>
            <form action="" id="formEditar" @submit.prevent>
                <h4>Editar producto</h4>
                <div class="mb-3">
                    <label for="idproductos">ID</label>
                    <input type="number" class="form-control" v-model="idproductos">
                </div>
                <div class="mb-3">
                    <label for="productos_name">Nombre</label>
                    <input type="text" class="form-control" v-model="productos_name">
                </div>
                <div class="mb-3">
                    <label for="productos_descripcion">Descripcion</label>
                    <input type="text" class="form-control" v-model="productos_descripcion">
                </div>
                <div class="mb-3">
                    <label for="productos_precio">Precio</label>
                    <input type="number" class="form-control" v-model="productos_precio">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="editarProducto()">Guardar</button>
                </div>
            </form>
            <br>
                <section class="tabla">
                    <div class="table-responsive">
                        <table class="table table-bordered table-success table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productos" :key="producto.idproductos">
                                    <td>{{ producto.idproductos }}</td>
                                    <td>{{ producto.productos_name }}</td>
                                    <td>{{ producto.productos_descripcion }}</td>
                                    <td>{{ producto.productos_precio }}</td>
                                    <td> {{ producto.imagen }}</td>
                                    <td>
                                        <button class="btn btn-primary" @click="editarProducto(producto)">Editar</button>
                                        <button class="btn btn-danger" id="btnDelete" @click="eliminarProducto(producto)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </main>
    <footer>
    </footer>
    <!-- referencias a Vue.js y JS -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 
    <script src="../js/main.js"></script>
    <script src="../js/productos.js"></script> 
    <script src="../js/codigo.js"></script>
    
</body>
</html>
