body {
    background-color: rgb(206, 243, 231);
}
.titulo {
    display: flex;
    justify-content: center;
    margin: .5rem;
}
.btn {
    margin: .5rem;
}
.tabla {
    margin: .5rem;
}
.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
